/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

@import "tailwindcss";

:root {
  --background: #f2f6fa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Noto Sans', Helvetica, sans-serif;
  --font-teko: 'Teko';
  --font-mono: var(--font-geist-mono);
  --color-primary: #3b82f6;
  --color-primary-dark: #1d4ed8;
  --color-primary-light: #e0f2fe;
  --color-secondary: #fed085;
  --color-neutral: #a9a9a9;
  --color-neutral-dark: #374151;
  --color-neutral-light: #f3f4f6;
  --color-accent: #9b59b6;
  --color-muted: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    .dark {
      --background: #121212;
      --foreground: #e0e0e0;
      --color-primary: #90caf9;
      --color-primary-dark: #42a5f5;
      --color-primary-light: #bbdefb;
      --color-secondary: #ffcc80;
      --color-neutral: #b0bec5;
      --color-neutral-dark: #263238;
      --color-neutral-light: #37474f;
      --color-accent: #ce93d8;
      --color-muted: #9e9e9e;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
